<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wang.ismy.oa.dao.MessageDao">


    <insert id="saveMessage" parameterType="wang.ismy.oa.entity.Message">
        INSERT INTO tb_message(message_to, message_from, message_content, has_read, create_time, last_edit_time)
                VALUES(#{messageTo.userId},#{messageFrom.userId},#{messageContent},#{hasRead},NOW(),NOW())
    </insert>
</mapper>